# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv_win
.venv/
venv/
env/

# Build & Packaging
build/
dist/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/

# Logs
*.log